@media screen and (min-width: 992px) {
    body {
        background-image: url('../img/book2_full.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 991px) {
    body {
        background-image: url('../img/book2_left.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: 100% 100%;
    }
}

body {
    margin: 8%;
    margin-top: 4%;
}

.navigation{
    background-color:khaki;
    padding: 10px;
}

.side {
    background-image: linear-gradient(to right, darkkhaki, khaki);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color:aliceblue;
    background-color: royalblue;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
}

#intro_name {
    font-size: 1.5em;
}

h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    color:aliceblue;
    background-color: royalblue;
    text-shadow: 2px 2px 4px #000000;
    padding: 8px;
}

.year {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color:aliceblue;
    background-color: cornflowerblue;
}

.keep_right {
    text-align: right;
}

.keep_down {
    vertical-align: bottom;
}

.keep_left {
    text-align: left;
}

.page_nav {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fig {
    font-style: italic;
    font-size: 0.9em;
}

.timeline {
    border-top-color: #000000;
    border-top-style: solid;
    border-top-width: 2px;
}

.decor_title {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 1.2em;
    color:saddlebrown;
    font-style: italic;
}

.left_line {
    border-left-color: #000000;
    border-left-style: solid;
    border-left-width: 2px;
}

.right_line {
    border-right-color: #000000;
    border-right-style: solid;
    border-right-width: 2px;
}

table {
    width: 100%;
    padding: 5px;
}

.table_heading {
    font-weight: bold;
}