@media screen and (min-width: 992px) {
    body {
        background-image: url('../img/book2_full.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

@media screen and (max-width: 991px) {
    body {
        background-image: url('../img/book2_left.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-size: 100% 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
}